<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.3.4/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.3.4/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_89f46813f0a04eb8ac5c39eb00d9e7b6 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_89f46813f0a04eb8ac5c39eb00d9e7b6" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_89f46813f0a04eb8ac5c39eb00d9e7b6 = L.map(
        'map_89f46813f0a04eb8ac5c39eb00d9e7b6', {
        center: [0, 0],
        zoom: 1,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });

    
    
    var tile_layer_312f27d026e54a828e9c340a29e1e20b = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_89f46813f0a04eb8ac5c39eb00d9e7b6);
    
            var feature_group_6134817fee25424483eb472ac17448f5 = L.featureGroup(
                ).addTo(map_89f46813f0a04eb8ac5c39eb00d9e7b6);
        
    
        var marker_42b76f17993a4b91bf0f0ce1219644f6 = L.marker(
            [36.1662859, -115.149225],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_555e5054f64944229d1f3de990367963 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_42b76f17993a4b91bf0f0ce1219644f6.setIcon(icon_555e5054f64944229d1f3de990367963);
            
    
            var popup_36b517320ae445f0a66ce67d866c7424 = L.popup({maxWidth: '300'
            
            });

            
                var html_6ac06aeb08104712947b92ab0f20b871 = $(`<div id="html_6ac06aeb08104712947b92ab0f20b871" style="width: 100.0%; height: 100.0%;">Imagine Dragons</div>`)[0];
                popup_36b517320ae445f0a66ce67d866c7424.setContent(html_6ac06aeb08104712947b92ab0f20b871);
            

            marker_42b76f17993a4b91bf0f0ce1219644f6.bindPopup(popup_36b517320ae445f0a66ce67d866c7424)
            ;

            
        
    
        var marker_66b04fd68e6640c3a70416b893e08d88 = L.marker(
            [43.54543445, -80.2504333563191],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_9bbbfa7531664da985789008eab6bd4c = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_66b04fd68e6640c3a70416b893e08d88.setIcon(icon_9bbbfa7531664da985789008eab6bd4c);
            
    
            var popup_aa93d71cf48c479dbbc8200ec43ae5a2 = L.popup({maxWidth: '300'
            
            });

            
                var html_658ec6b89fad44b0a947e3d017f7c28d = $(`<div id="html_658ec6b89fad44b0a947e3d017f7c28d" style="width: 100.0%; height: 100.0%;">English Idioms</div>`)[0];
                popup_aa93d71cf48c479dbbc8200ec43ae5a2.setContent(html_658ec6b89fad44b0a947e3d017f7c28d);
            

            marker_66b04fd68e6640c3a70416b893e08d88.bindPopup(popup_aa93d71cf48c479dbbc8200ec43ae5a2)
            ;

            
        
    
        var marker_62be9b63bf054b15b837eedd357e6546 = L.marker(
            [40.7308619, -73.9871558],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_9251b6f6a72e4217a38bb36551cd5c6e = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_62be9b63bf054b15b837eedd357e6546.setIcon(icon_9251b6f6a72e4217a38bb36551cd5c6e);
            
    
            var popup_e89efb616e284086a4137a108a471897 = L.popup({maxWidth: '300'
            
            });

            
                var html_85db7619ace747baaa924fb22d818bd9 = $(`<div id="html_85db7619ace747baaa924fb22d818bd9" style="width: 100.0%; height: 100.0%;">JustJared.com</div>`)[0];
                popup_e89efb616e284086a4137a108a471897.setContent(html_85db7619ace747baaa924fb22d818bd9);
            

            marker_62be9b63bf054b15b837eedd357e6546.bindPopup(popup_e89efb616e284086a4137a108a471897)
            ;

            
        
    
        var marker_ba3b0f78691f4ad69d960757f3be0fc3 = L.marker(
            [55.0282171, 82.9234509],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_a3c8e16b6b4d401b9c3c9252a3b5568b = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_ba3b0f78691f4ad69d960757f3be0fc3.setIcon(icon_a3c8e16b6b4d401b9c3c9252a3b5568b);
            
    
            var popup_a97b15f7513a46a2b758dc76b5b32929 = L.popup({maxWidth: '300'
            
            });

            
                var html_d8ff5105de1145cfb804af7f73d476d3 = $(`<div id="html_d8ff5105de1145cfb804af7f73d476d3" style="width: 100.0%; height: 100.0%;">Настюха</div>`)[0];
                popup_a97b15f7513a46a2b758dc76b5b32929.setContent(html_d8ff5105de1145cfb804af7f73d476d3);
            

            marker_ba3b0f78691f4ad69d960757f3be0fc3.bindPopup(popup_a97b15f7513a46a2b758dc76b5b32929)
            ;

            
        
    
        var marker_592e6de4193a4469930b9f08327f0497 = L.marker(
            [50.4500644, 30.5241037],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_f625b184be794d8fb37d8551ca25b8ae = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_592e6de4193a4469930b9f08327f0497.setIcon(icon_f625b184be794d8fb37d8551ca25b8ae);
            
    
            var popup_9d5aff0a79084dc693a65ca111f5d0a9 = L.popup({maxWidth: '300'
            
            });

            
                var html_60e403efcbef409caa414ff4111a4e93 = $(`<div id="html_60e403efcbef409caa414ff4111a4e93" style="width: 100.0%; height: 100.0%;">Хвильовий твого часу</div>`)[0];
                popup_9d5aff0a79084dc693a65ca111f5d0a9.setContent(html_60e403efcbef409caa414ff4111a4e93);
            

            marker_592e6de4193a4469930b9f08327f0497.bindPopup(popup_9d5aff0a79084dc693a65ca111f5d0a9)
            ;

            
        
    
        var marker_049760256b4348348b46481f9a1a8d01 = L.marker(
            [34.0536834, -118.2427669],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_016852b2e422406fb54ea71eb9cc7035 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_049760256b4348348b46481f9a1a8d01.setIcon(icon_016852b2e422406fb54ea71eb9cc7035);
            
    
            var popup_2b8e2e5f78ae4933b74fa21cb2c9d627 = L.popup({maxWidth: '300'
            
            });

            
                var html_85311dc2dab14604ae457853375bb1dd = $(`<div id="html_85311dc2dab14604ae457853375bb1dd" style="width: 100.0%; height: 100.0%;">△Мія△</div>`)[0];
                popup_2b8e2e5f78ae4933b74fa21cb2c9d627.setContent(html_85311dc2dab14604ae457853375bb1dd);
            

            marker_049760256b4348348b46481f9a1a8d01.bindPopup(popup_2b8e2e5f78ae4933b74fa21cb2c9d627)
            ;

            
        
    
        var marker_996bdacc66dd4ee4b34851d603bc4d9d = L.marker(
            [49.4871968, 31.2718321],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_7199d1e8976c4572879250b69eeb4548 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_996bdacc66dd4ee4b34851d603bc4d9d.setIcon(icon_7199d1e8976c4572879250b69eeb4548);
            
    
            var popup_571fed0a5cb84358b28505f47e62a05c = L.popup({maxWidth: '300'
            
            });

            
                var html_0db10c1ffc8740708c36eb05c6e37ae2 = $(`<div id="html_0db10c1ffc8740708c36eb05c6e37ae2" style="width: 100.0%; height: 100.0%;">Ляля</div>`)[0];
                popup_571fed0a5cb84358b28505f47e62a05c.setContent(html_0db10c1ffc8740708c36eb05c6e37ae2);
            

            marker_996bdacc66dd4ee4b34851d603bc4d9d.bindPopup(popup_571fed0a5cb84358b28505f47e62a05c)
            ;

            
        
    
        var marker_ab6d036cf27146df8a267fafae8c0bf1 = L.marker(
            [44.8873086, 7.3319454],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_fd0004d3ded447bb821a27e0b1db8a6f = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_ab6d036cf27146df8a267fafae8c0bf1.setIcon(icon_fd0004d3ded447bb821a27e0b1db8a6f);
            
    
            var popup_19b43db3938144548421234a3097dad1 = L.popup({maxWidth: '300'
            
            });

            
                var html_adfd93726eb94d568805bd80c2bad7f6 = $(`<div id="html_adfd93726eb94d568805bd80c2bad7f6" style="width: 100.0%; height: 100.0%;">Alina</div>`)[0];
                popup_19b43db3938144548421234a3097dad1.setContent(html_adfd93726eb94d568805bd80c2bad7f6);
            

            marker_ab6d036cf27146df8a267fafae8c0bf1.bindPopup(popup_19b43db3938144548421234a3097dad1)
            ;

            
        
    
        var marker_e59920e65333443497c4d61107bf56b6 = L.marker(
            [9.7908922, 125.4904143],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_d45f8c3c99bf49b7ae24371d911467c4 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_e59920e65333443497c4d61107bf56b6.setIcon(icon_d45f8c3c99bf49b7ae24371d911467c4);
            
    
            var popup_ae5f35553b044b5f8ad23912c96aa8c6 = L.popup({maxWidth: '300'
            
            });

            
                var html_ac6571d16750487a81ed7d767fce5b2d = $(`<div id="html_ac6571d16750487a81ed7d767fce5b2d" style="width: 100.0%; height: 100.0%;">Лепра</div>`)[0];
                popup_ae5f35553b044b5f8ad23912c96aa8c6.setContent(html_ac6571d16750487a81ed7d767fce5b2d);
            

            marker_e59920e65333443497c4d61107bf56b6.bindPopup(popup_ae5f35553b044b5f8ad23912c96aa8c6)
            ;

            
        
    
        var marker_e402417e45844db6a2597f453de71b10 = L.marker(
            [52.5028659, 13.4474239],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_a997d9bf9998488aaaa7ba73770a2281 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_e402417e45844db6a2597f453de71b10.setIcon(icon_a997d9bf9998488aaaa7ba73770a2281);
            
    
            var popup_54ef4b6c45564c318b658bd2fd70199b = L.popup({maxWidth: '300'
            
            });

            
                var html_fcdff876133b4437942a6eee2727e1f8 = $(`<div id="html_fcdff876133b4437942a6eee2727e1f8" style="width: 100.0%; height: 100.0%;">brent's girlfriend eva gutowski</div>`)[0];
                popup_54ef4b6c45564c318b658bd2fd70199b.setContent(html_fcdff876133b4437942a6eee2727e1f8);
            

            marker_e402417e45844db6a2597f453de71b10.bindPopup(popup_54ef4b6c45564c318b658bd2fd70199b)
            ;

            
        
    
        var marker_9f6f3b408c024e7fa6cdd8bfab41cabf = L.marker(
            [64.6863136, 97.7453061],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_6c9d58dc450a443a9bd291d1fe76bf85 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_9f6f3b408c024e7fa6cdd8bfab41cabf.setIcon(icon_6c9d58dc450a443a9bd291d1fe76bf85);
            
    
            var popup_3fbdb2bacfb34b3ba7d26c3419315f56 = L.popup({maxWidth: '300'
            
            });

            
                var html_b7352ad2780f4034afe1d3b35947f4d0 = $(`<div id="html_b7352ad2780f4034afe1d3b35947f4d0" style="width: 100.0%; height: 100.0%;">Onedio.ru</div>`)[0];
                popup_3fbdb2bacfb34b3ba7d26c3419315f56.setContent(html_b7352ad2780f4034afe1d3b35947f4d0);
            

            marker_9f6f3b408c024e7fa6cdd8bfab41cabf.bindPopup(popup_3fbdb2bacfb34b3ba7d26c3419315f56)
            ;

            
        
    
        var marker_9463a2c19cce4ed7a7b1fc7ae51b55bf = L.marker(
            [49.4871968, 31.2718321],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_55d08f1df7fb44d5b79164d74c4b78df = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_9463a2c19cce4ed7a7b1fc7ae51b55bf.setIcon(icon_55d08f1df7fb44d5b79164d74c4b78df);
            
    
            var popup_455646543899471da1ddac6dd4683c01 = L.popup({maxWidth: '300'
            
            });

            
                var html_bbf963ee75f8420c8032a401a2534038 = $(`<div id="html_bbf963ee75f8420c8032a401a2534038" style="width: 100.0%; height: 100.0%;">DEADYK</div>`)[0];
                popup_455646543899471da1ddac6dd4683c01.setContent(html_bbf963ee75f8420c8032a401a2534038);
            

            marker_9463a2c19cce4ed7a7b1fc7ae51b55bf.bindPopup(popup_455646543899471da1ddac6dd4683c01)
            ;

            
        
    
        var marker_bdbf1069cfb64052a0d99db1d179490f = L.marker(
            [49.4871968, 31.2718321],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_9586f558f86b464a8254be21540cea1e = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_bdbf1069cfb64052a0d99db1d179490f.setIcon(icon_9586f558f86b464a8254be21540cea1e);
            
    
            var popup_c747ac05082d4e0ab974646cce1c8c7c = L.popup({maxWidth: '300'
            
            });

            
                var html_cb72aa5caafc432ebdbdd5c3c6875c7e = $(`<div id="html_cb72aa5caafc432ebdbdd5c3c6875c7e" style="width: 100.0%; height: 100.0%;">Alexey - Theodor II</div>`)[0];
                popup_c747ac05082d4e0ab974646cce1c8c7c.setContent(html_cb72aa5caafc432ebdbdd5c3c6875c7e);
            

            marker_bdbf1069cfb64052a0d99db1d179490f.bindPopup(popup_c747ac05082d4e0ab974646cce1c8c7c)
            ;

            
        
    
        var marker_88843059532441c4986aee4cc8b8c225 = L.marker(
            [34.0536834, -118.2427669],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_0768acb6298b402ca9dc633f81bc5c04 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_88843059532441c4986aee4cc8b8c225.setIcon(icon_0768acb6298b402ca9dc633f81bc5c04);
            
    
            var popup_afc0f3508834470cada44f57e652af24 = L.popup({maxWidth: '300'
            
            });

            
                var html_add8f1071a14489db24fd846923804b1 = $(`<div id="html_add8f1071a14489db24fd846923804b1" style="width: 100.0%; height: 100.0%;">Julie Plec</div>`)[0];
                popup_afc0f3508834470cada44f57e652af24.setContent(html_add8f1071a14489db24fd846923804b1);
            

            marker_88843059532441c4986aee4cc8b8c225.bindPopup(popup_afc0f3508834470cada44f57e652af24)
            ;

            
        
    
        var marker_646474c41dff472f8a1c91bb70de01d7 = L.marker(
            [49.4871968, 31.2718321],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_265c0f47c37349469a21f506bc7af5b0 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_646474c41dff472f8a1c91bb70de01d7.setIcon(icon_265c0f47c37349469a21f506bc7af5b0);
            
    
            var popup_1e3d61dc63d148008bbba357a4f9e14b = L.popup({maxWidth: '300'
            
            });

            
                var html_463524233c3a47d8a9c412fc8ffc02b5 = $(`<div id="html_463524233c3a47d8a9c412fc8ffc02b5" style="width: 100.0%; height: 100.0%;">Natalia</div>`)[0];
                popup_1e3d61dc63d148008bbba357a4f9e14b.setContent(html_463524233c3a47d8a9c412fc8ffc02b5);
            

            marker_646474c41dff472f8a1c91bb70de01d7.bindPopup(popup_1e3d61dc63d148008bbba357a4f9e14b)
            ;

            
        
    
        var marker_c8a129d4c6054c999e1e83845c695a6b = L.marker(
            [53.4794892, -2.2451148],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_0dd45c7207bf4056a3701e363f9023ad = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_c8a129d4c6054c999e1e83845c695a6b.setIcon(icon_0dd45c7207bf4056a3701e363f9023ad);
            
    
            var popup_4e12d7299d1543f1891ed0a1cae3bbae = L.popup({maxWidth: '300'
            
            });

            
                var html_9f70beadfad14dd781d2be66f0cbb60c = $(`<div id="html_9f70beadfad14dd781d2be66f0cbb60c" style="width: 100.0%; height: 100.0%;">Manchester United</div>`)[0];
                popup_4e12d7299d1543f1891ed0a1cae3bbae.setContent(html_9f70beadfad14dd781d2be66f0cbb60c);
            

            marker_c8a129d4c6054c999e1e83845c695a6b.bindPopup(popup_4e12d7299d1543f1891ed0a1cae3bbae)
            ;

            
        
    
        var marker_8b7cbdb1515b4eb38e8d28a1f7b2368f = L.marker(
            [42.6384261, 12.674297],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_6ddcce46bb6c4c96aa8d854dda131765 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_8b7cbdb1515b4eb38e8d28a1f7b2368f.setIcon(icon_6ddcce46bb6c4c96aa8d854dda131765);
            
    
            var popup_b05b57756d7c413d940bd5eda9b8d82c = L.popup({maxWidth: '300'
            
            });

            
                var html_6e74b6333cb44421a6ed60d5243a55f2 = $(`<div id="html_6e74b6333cb44421a6ed60d5243a55f2" style="width: 100.0%; height: 100.0%;">Valentino</div>`)[0];
                popup_b05b57756d7c413d940bd5eda9b8d82c.setContent(html_6e74b6333cb44421a6ed60d5243a55f2);
            

            marker_8b7cbdb1515b4eb38e8d28a1f7b2368f.bindPopup(popup_b05b57756d7c413d940bd5eda9b8d82c)
            ;

            
        
    
        var marker_5824a8b140bf4baba4a273cf8ce340df = L.marker(
            [51.5073219, -0.1276474],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_4882bd6006d847f3a0c986692d2416e2 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_5824a8b140bf4baba4a273cf8ce340df.setIcon(icon_4882bd6006d847f3a0c986692d2416e2);
            
    
            var popup_beaf6880955b4812b1a83a70f910536d = L.popup({maxWidth: '300'
            
            });

            
                var html_c0317883a96f4e178ef77990b678c313 = $(`<div id="html_c0317883a96f4e178ef77990b678c313" style="width: 100.0%; height: 100.0%;">Jimmy Choo</div>`)[0];
                popup_beaf6880955b4812b1a83a70f910536d.setContent(html_c0317883a96f4e178ef77990b678c313);
            

            marker_5824a8b140bf4baba4a273cf8ce340df.bindPopup(popup_beaf6880955b4812b1a83a70f910536d)
            ;

            
        
    
        var marker_63cbb584989a4c6b8bb1b994091b804c = L.marker(
            [47.2935786, 11.5907326],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_b1cb515e5eed446d8ab89fd3e9b07d67 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_63cbb584989a4c6b8bb1b994091b804c.setIcon(icon_b1cb515e5eed446d8ab89fd3e9b07d67);
            
    
            var popup_6d38cb0e2d004c2d8616c6d161a80011 = L.popup({maxWidth: '300'
            
            });

            
                var html_2ad6f01c88c54d4fa4475f229f6f04ad = $(`<div id="html_2ad6f01c88c54d4fa4475f229f6f04ad" style="width: 100.0%; height: 100.0%;">Swarovski</div>`)[0];
                popup_6d38cb0e2d004c2d8616c6d161a80011.setContent(html_2ad6f01c88c54d4fa4475f229f6f04ad);
            

            marker_63cbb584989a4c6b8bb1b994091b804c.bindPopup(popup_6d38cb0e2d004c2d8616c6d161a80011)
            ;

            
        
    
        var marker_feb87569da6d4ea7830d41e1a9cf90d6 = L.marker(
            [49.841952, 24.0315921],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_2319f5877d7c4f50a67a7c3176ff53a0 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_feb87569da6d4ea7830d41e1a9cf90d6.setIcon(icon_2319f5877d7c4f50a67a7c3176ff53a0);
            
    
            var popup_0affef8ed41440c7a93b36cb74ab9687 = L.popup({maxWidth: '300'
            
            });

            
                var html_c8fef85b7da94e188607f7f2aab714b7 = $(`<div id="html_c8fef85b7da94e188607f7f2aab714b7" style="width: 100.0%; height: 100.0%;">kavusia</div>`)[0];
                popup_0affef8ed41440c7a93b36cb74ab9687.setContent(html_c8fef85b7da94e188607f7f2aab714b7);
            

            marker_feb87569da6d4ea7830d41e1a9cf90d6.bindPopup(popup_0affef8ed41440c7a93b36cb74ab9687)
            ;

            
        
    
        var marker_e4c6b4c4a3cf49cea61b44d2ea2f7a07 = L.marker(
            [37.3228934, -122.0322895],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_653e531c5c32448b8f4152a7d4a927f6 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_e4c6b4c4a3cf49cea61b44d2ea2f7a07.setIcon(icon_653e531c5c32448b8f4152a7d4a927f6);
            
    
            var popup_9be334f6f4b546b49c3c22e82cb328fc = L.popup({maxWidth: '300'
            
            });

            
                var html_82f43abac83d45ada13afc1ea8152082 = $(`<div id="html_82f43abac83d45ada13afc1ea8152082" style="width: 100.0%; height: 100.0%;">Wylsacom</div>`)[0];
                popup_9be334f6f4b546b49c3c22e82cb328fc.setContent(html_82f43abac83d45ada13afc1ea8152082);
            

            marker_e4c6b4c4a3cf49cea61b44d2ea2f7a07.bindPopup(popup_9be334f6f4b546b49c3c22e82cb328fc)
            ;

            
        
    
        var marker_18ba709f9acf443bb4d8e6d3f93d6077 = L.marker(
            [39.7837304, -100.4458825],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_aa3227b44fe34b38ba35dd9efe4403c5 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_18ba709f9acf443bb4d8e6d3f93d6077.setIcon(icon_aa3227b44fe34b38ba35dd9efe4403c5);
            
    
            var popup_0429329939ab4059bcba882b800fac8c = L.popup({maxWidth: '300'
            
            });

            
                var html_e3616c763f074d009348f9b04a02c4f3 = $(`<div id="html_e3616c763f074d009348f9b04a02c4f3" style="width: 100.0%; height: 100.0%;">Анастейша Стейша</div>`)[0];
                popup_0429329939ab4059bcba882b800fac8c.setContent(html_e3616c763f074d009348f9b04a02c4f3);
            

            marker_18ba709f9acf443bb4d8e6d3f93d6077.bindPopup(popup_0429329939ab4059bcba882b800fac8c)
            ;

            
        
    
        var marker_55590f377c3345d9b7b17c08d3309d88 = L.marker(
            [40.4167047, -3.7035825],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_28c568b3881c42fbb8a3a51b516aa86a = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_55590f377c3345d9b7b17c08d3309d88.setIcon(icon_28c568b3881c42fbb8a3a51b516aa86a);
            
    
            var popup_e8adfd303f324d8c8af0891d320b1f94 = L.popup({maxWidth: '300'
            
            });

            
                var html_02507f52a24942c48af338966a387a1c = $(`<div id="html_02507f52a24942c48af338966a387a1c" style="width: 100.0%; height: 100.0%;">Real Madrid C.F.⚽</div>`)[0];
                popup_e8adfd303f324d8c8af0891d320b1f94.setContent(html_02507f52a24942c48af338966a387a1c);
            

            marker_55590f377c3345d9b7b17c08d3309d88.bindPopup(popup_e8adfd303f324d8c8af0891d320b1f94)
            ;

            
        
    
        var marker_8c88008031b34b18ab9544b8bfd63f2b = L.marker(
            [41.3828939, 2.1774322],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_f52778f615b04e1b83cca137e65cb650 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_8c88008031b34b18ab9544b8bfd63f2b.setIcon(icon_f52778f615b04e1b83cca137e65cb650);
            
    
            var popup_5a18d5a53ce741cfb113da67de2cdef3 = L.popup({maxWidth: '300'
            
            });

            
                var html_d5820f9b45534728b38b80e36b604e57 = $(`<div id="html_d5820f9b45534728b38b80e36b604e57" style="width: 100.0%; height: 100.0%;">FC Barcelona</div>`)[0];
                popup_5a18d5a53ce741cfb113da67de2cdef3.setContent(html_d5820f9b45534728b38b80e36b604e57);
            

            marker_8c88008031b34b18ab9544b8bfd63f2b.bindPopup(popup_5a18d5a53ce741cfb113da67de2cdef3)
            ;

            
        
    
        var marker_8af1c03e14904a67a9f2508925ae4836 = L.marker(
            [47.82035305, 35.1329136267102],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_571e5220dac04831919913ef561e5f9a = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_8af1c03e14904a67a9f2508925ae4836.setIcon(icon_571e5220dac04831919913ef561e5f9a);
            
    
            var popup_d45f5785afc54c018da6ab8f1c0339d3 = L.popup({maxWidth: '300'
            
            });

            
                var html_7f67e5f83e77408da95db2d90dc75e48 = $(`<div id="html_7f67e5f83e77408da95db2d90dc75e48" style="width: 100.0%; height: 100.0%;">ФК «Днепр»</div>`)[0];
                popup_d45f5785afc54c018da6ab8f1c0339d3.setContent(html_7f67e5f83e77408da95db2d90dc75e48);
            

            marker_8af1c03e14904a67a9f2508925ae4836.bindPopup(popup_d45f5785afc54c018da6ab8f1c0339d3)
            ;

            
        
    
        var marker_cdeea9ee31be4a44a92957f02cb7f2c6 = L.marker(
            [49.4871968, 31.2718321],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_b08997d9646344c3b8a0a929f08668e1 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_cdeea9ee31be4a44a92957f02cb7f2c6.setIcon(icon_b08997d9646344c3b8a0a929f08668e1);
            
    
            var popup_13159fd7c3eb4e3f88d709865ce0dc82 = L.popup({maxWidth: '300'
            
            });

            
                var html_be8ffdf53fce4ed2bbe1a295a10627fc = $(`<div id="html_be8ffdf53fce4ed2bbe1a295a10627fc" style="width: 100.0%; height: 100.0%;">Matchday.ua</div>`)[0];
                popup_13159fd7c3eb4e3f88d709865ce0dc82.setContent(html_be8ffdf53fce4ed2bbe1a295a10627fc);
            

            marker_cdeea9ee31be4a44a92957f02cb7f2c6.bindPopup(popup_13159fd7c3eb4e3f88d709865ce0dc82)
            ;

            
        
    
        var marker_9586666547574095a702c9b4ffb669b8 = L.marker(
            [50.4500644, 30.5241037],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_31567c85ee8d4f23bcf7b2b96f60bb2f = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_9586666547574095a702c9b4ffb669b8.setIcon(icon_31567c85ee8d4f23bcf7b2b96f60bb2f);
            
    
            var popup_9162d2b6efd54603973a317dfe2bccf6 = L.popup({maxWidth: '300'
            
            });

            
                var html_e3f191cd2e9c4dd99cfba05fd75d12f3 = $(`<div id="html_e3f191cd2e9c4dd99cfba05fd75d12f3" style="width: 100.0%; height: 100.0%;">Tribuna.com Украина</div>`)[0];
                popup_9162d2b6efd54603973a317dfe2bccf6.setContent(html_e3f191cd2e9c4dd99cfba05fd75d12f3);
            

            marker_9586666547574095a702c9b4ffb669b8.bindPopup(popup_9162d2b6efd54603973a317dfe2bccf6)
            ;

            
        
    
        var marker_5c7356947e474ca6aa72939c957a9393 = L.marker(
            [49.4871968, 31.2718321],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_18b89bf9ad2443c0b810beeee7bf4ee2 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_5c7356947e474ca6aa72939c957a9393.setIcon(icon_18b89bf9ad2443c0b810beeee7bf4ee2);
            
    
            var popup_d7c451e79b0d43b988f94ab80ea0738a = L.popup({maxWidth: '300'
            
            });

            
                var html_ae37030587e0425b9cdad4f88c486163 = $(`<div id="html_ae37030587e0425b9cdad4f88c486163" style="width: 100.0%; height: 100.0%;">Betnews365.com</div>`)[0];
                popup_d7c451e79b0d43b988f94ab80ea0738a.setContent(html_ae37030587e0425b9cdad4f88c486163);
            

            marker_5c7356947e474ca6aa72939c957a9393.bindPopup(popup_d7c451e79b0d43b988f94ab80ea0738a)
            ;

            
        
    
        var marker_89365d64b6c04e63a4167ae8a0dd7dee = L.marker(
            [56.4528915, 8.6737073],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_031c49c97aa0420ea2013d0b540f135b = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_89365d64b6c04e63a4167ae8a0dd7dee.setIcon(icon_031c49c97aa0420ea2013d0b540f135b);
            
    
            var popup_0699a1988e984f1fa6ef2f4ae6478ac1 = L.popup({maxWidth: '300'
            
            });

            
                var html_308d96bd9524451da0be2e5f7a7b58ab = $(`<div id="html_308d96bd9524451da0be2e5f7a7b58ab" style="width: 100.0%; height: 100.0%;">Jensen Ackles</div>`)[0];
                popup_0699a1988e984f1fa6ef2f4ae6478ac1.setContent(html_308d96bd9524451da0be2e5f7a7b58ab);
            

            marker_89365d64b6c04e63a4167ae8a0dd7dee.bindPopup(popup_0699a1988e984f1fa6ef2f4ae6478ac1)
            ;

            
        
    
        var marker_3a7c5c12831a4323aa74e0c27da214d9 = L.marker(
            [55.85881005, -4.00208685912683],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_fe644cd129e544c7b70ca88bfeb8b8b9 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_3a7c5c12831a4323aa74e0c27da214d9.setIcon(icon_fe644cd129e544c7b70ca88bfeb8b8b9);
            
    
            var popup_f17e3886ca1d4d7db305fb224bcc2e97 = L.popup({maxWidth: '300'
            
            });

            
                var html_d7840a89624c40f9a59cbe67b16037e4 = $(`<div id="html_d7840a89624c40f9a59cbe67b16037e4" style="width: 100.0%; height: 100.0%;">Ian Somerhalder</div>`)[0];
                popup_f17e3886ca1d4d7db305fb224bcc2e97.setContent(html_d7840a89624c40f9a59cbe67b16037e4);
            

            marker_3a7c5c12831a4323aa74e0c27da214d9.bindPopup(popup_f17e3886ca1d4d7db305fb224bcc2e97)
            ;

            
        
    
        var marker_2d7e4f95c7ce46c29ded13f56ba92c7b = L.marker(
            [46.3820585, 6.2402791],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_582d61aa075c417d9fe41c891a1f08cd = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2d7e4f95c7ce46c29ded13f56ba92c7b.setIcon(icon_582d61aa075c417d9fe41c891a1f08cd);
            
    
            var popup_6936b0f669d945819a83526603ad3a95 = L.popup({maxWidth: '300'
            
            });

            
                var html_8de5f0252dae4ca4b4702fe877a07985 = $(`<div id="html_8de5f0252dae4ca4b4702fe877a07985" style="width: 100.0%; height: 100.0%;">UEFA Champions League</div>`)[0];
                popup_6936b0f669d945819a83526603ad3a95.setContent(html_8de5f0252dae4ca4b4702fe877a07985);
            

            marker_2d7e4f95c7ce46c29ded13f56ba92c7b.bindPopup(popup_6936b0f669d945819a83526603ad3a95)
            ;

            
        
    
        var marker_71d2721cb2ad41639d980fa9f123a6d9 = L.marker(
            [46.3820585, 6.2402791],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_71e7f408fa0946d4bb4a48f6e1c2a501 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_71d2721cb2ad41639d980fa9f123a6d9.setIcon(icon_71e7f408fa0946d4bb4a48f6e1c2a501);
            
    
            var popup_e6e9ba71f8d64003a058ae960fc9e498 = L.popup({maxWidth: '300'
            
            });

            
                var html_45dc0ff98d7a4b8ea95d7e5847afd4bb = $(`<div id="html_45dc0ff98d7a4b8ea95d7e5847afd4bb" style="width: 100.0%; height: 100.0%;">UEFA Europa League</div>`)[0];
                popup_e6e9ba71f8d64003a058ae960fc9e498.setContent(html_45dc0ff98d7a4b8ea95d7e5847afd4bb);
            

            marker_71d2721cb2ad41639d980fa9f123a6d9.bindPopup(popup_e6e9ba71f8d64003a058ae960fc9e498)
            ;

            
        
    
        var marker_e18b9aff6b324e0ba44c5238ec19a528 = L.marker(
            [49.4871968, 31.2718321],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_ae24c637156d49d6943df4cce8d6ea22 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_e18b9aff6b324e0ba44c5238ec19a528.setIcon(icon_ae24c637156d49d6943df4cce8d6ea22);
            
    
            var popup_ed47182577c04f5b8d1c962a4160fe5a = L.popup({maxWidth: '300'
            
            });

            
                var html_a5a53530b5794404b70d30bfd27b3798 = $(`<div id="html_a5a53530b5794404b70d30bfd27b3798" style="width: 100.0%; height: 100.0%;">BBC News Україна</div>`)[0];
                popup_ed47182577c04f5b8d1c962a4160fe5a.setContent(html_a5a53530b5794404b70d30bfd27b3798);
            

            marker_e18b9aff6b324e0ba44c5238ec19a528.bindPopup(popup_ed47182577c04f5b8d1c962a4160fe5a)
            ;

            
        
    
        var marker_cdce48f024584f62a261518c26226ea6 = L.marker(
            [50.4500644, 30.5241037],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_b5a6779809ca4b3b97bc2bcd29a1f537 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_cdce48f024584f62a261518c26226ea6.setIcon(icon_b5a6779809ca4b3b97bc2bcd29a1f537);
            
    
            var popup_efecaef444b9448084cf1957f5c37d60 = L.popup({maxWidth: '300'
            
            });

            
                var html_359fbd9c27dd4c6faf944c171b695d9d = $(`<div id="html_359fbd9c27dd4c6faf944c171b695d9d" style="width: 100.0%; height: 100.0%;">Svyatoslav Vakarchuk</div>`)[0];
                popup_efecaef444b9448084cf1957f5c37d60.setContent(html_359fbd9c27dd4c6faf944c171b695d9d);
            

            marker_cdce48f024584f62a261518c26226ea6.bindPopup(popup_efecaef444b9448084cf1957f5c37d60)
            ;

            
        
    
        var marker_4650e3f12fd5499c96cfc12faef54a9f = L.marker(
            [50.4500644, 30.5241037],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_5a7e3fd973cf4a2585b5224fa384bb45 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_4650e3f12fd5499c96cfc12faef54a9f.setIcon(icon_5a7e3fd973cf4a2585b5224fa384bb45);
            
    
            var popup_fe955ed085764b98848c0f52a27d8559 = L.popup({maxWidth: '300'
            
            });

            
                var html_81dd2ec9e3674a3db36f7233ce8c5088 = $(`<div id="html_81dd2ec9e3674a3db36f7233ce8c5088" style="width: 100.0%; height: 100.0%;">Viktor Vatsko</div>`)[0];
                popup_fe955ed085764b98848c0f52a27d8559.setContent(html_81dd2ec9e3674a3db36f7233ce8c5088);
            

            marker_4650e3f12fd5499c96cfc12faef54a9f.bindPopup(popup_fe955ed085764b98848c0f52a27d8559)
            ;

            
        
    
        var marker_e12c82b499484f87b6099417d27a6940 = L.marker(
            [51.9191343, 30.8243039],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_9e6260326fb94c24a81489e388666a79 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_e12c82b499484f87b6099417d27a6940.setIcon(icon_9e6260326fb94c24a81489e388666a79);
            
    
            var popup_787020df59a0417aaab965deb452c11b = L.popup({maxWidth: '300'
            
            });

            
                var html_f6358bcff45444aaa49e067742b3e51d = $(`<div id="html_f6358bcff45444aaa49e067742b3e51d" style="width: 100.0%; height: 100.0%;">Роман Зозуля</div>`)[0];
                popup_787020df59a0417aaab965deb452c11b.setContent(html_f6358bcff45444aaa49e067742b3e51d);
            

            marker_e12c82b499484f87b6099417d27a6940.bindPopup(popup_787020df59a0417aaab965deb452c11b)
            ;

            
        
    
        var marker_8af4e95faf0c4ee093e0ba5f9369e5e7 = L.marker(
            [45.0677551, 7.6824892],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(feature_group_6134817fee25424483eb472ac17448f5);
        
    

                var icon_e753f36fe2664680a42c77763fa82b1d = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_8af4e95faf0c4ee093e0ba5f9369e5e7.setIcon(icon_e753f36fe2664680a42c77763fa82b1d);
            
    
            var popup_a5c491fb38714bf2a5c88936ca152de9 = L.popup({maxWidth: '300'
            
            });

            
                var html_486a59f864bb4a099763af26632c6556 = $(`<div id="html_486a59f864bb4a099763af26632c6556" style="width: 100.0%; height: 100.0%;">Cristiano Ronaldo</div>`)[0];
                popup_a5c491fb38714bf2a5c88936ca152de9.setContent(html_486a59f864bb4a099763af26632c6556);
            

            marker_8af4e95faf0c4ee093e0ba5f9369e5e7.bindPopup(popup_a5c491fb38714bf2a5c88936ca152de9)
            ;

            
        
</script>